@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    font-family: 'Noto Sans Hebrew', sans-serif;
}

p {
    font-size: 18px;
}

#web-head .hero {
    /* position: absolute; */
    width: 100%;
    height: 100vh;
    background: url(../photos/home-bg2.jpeg) no-repeat center -100px/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#web-head .hero2 {
    background: url(../photos/patish.jpg) no-repeat center top/cover;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(79 80 75 / 18%);
    /* mix-blend-mode: darken; */
}

.hero2::before {
    background: rgb(0 0 0 / 31%);
}

#web-head section .skewed {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: skewY(3deg);
    transform-origin: top right;
}

#web-head section .skewed2 {
    transform: skewY(-3deg);
    transform-origin: top left;
}


#web-head .small-head {
    color: #cdb252;
    font-size: 25px;
    z-index: 100;
    font-weight: 600;
    position: absolute;
    top: 7px;
}

#movtext-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #413e38;
    justify-content: center;
    width: 502px;
    height: 200px;
    padding: 28px;
    position: absolute;
    bottom: -60px;
    z-index: 10000;
    /* display: none; */
    transform: translateY(100px);
    opacity: 0;
    visibility: hidden;
    /* animation: get-in 1s forwards ease-in-out; */
    transition: 1s;
    transition-timing-function: ease-in-out;
}

h2.movtext {
    z-index: 100;
    position: relative;
    color: white;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    align-items: center;
}

#web-head .top-line {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 50px;
    background: #a4ad9e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 30px; */
}

#web-head .top-line div:first-child, #web-head .top-line div:nth-child(2) {
    display: flex;
    height: 100%;
    align-items: center;
}

#web-head .top-line div.first-top {
    background: #c9b15f;
    width: 500px;
    justify-content: center;
}

#web-head .top-line div:first-child div:nth-child(2) span {
    margin-right: 35px;
}

.second-top {
    flex: 1;
    justify-content: space-evenly;
}

.second-top h1 {
    font-size: 20px;
    font-weight: 500;
}

#web-head .top-line * {
    color: white;
    z-index: 100;
    position: relative;
}

#web-head .top-line i {
    font-size: 17px;
    margin-right: 9px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 6px 23px;
    border: none;
    border: 1px solid white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161513b8;
    color: #fff;
    border-radius: 0px 0px 0px 4px;
    width: 1050px;
    z-index: 100;
    height: 50px;
    position: absolute;
    top: 50px;
    padding: 0 30px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar a {
    color: #fff;
    padding: 10px 10px;
    margin: 0 10px;
    font-weight: 800;
    transition: 0.4s;
    height: 100%;
    display: inline-block;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar ul li {
    display: inline-block;
    position: relative;
}

.navbar ul li ul {
    display: none;
    position: absolute;
    right: 0px;
    width: 240px;
    background: #2f2e29ed;
    line-height: 1;
    display: none;
}

.navbar ul li:hover ul {
    display: flex;
    flex-direction: column;
}

.navbar ul li ul li {
    padding: 5px 0px;
}

.logos-c {
    display: flex;
    align-items: center;
}

#manar-container h2 {
    font-family: 'Courgette', cursive !important;
    display: inline-block !important;
    /* color: #ac9b5f !important; */
    font-size: 24px !important;
    margin-right: 40px;
}

#shawn-logo {
    width: 52px;
    background: #1a1a16;
    border-radius: 4%;
    padding: 5px;
    border: 2px solid #ac9b5f;
}

#intro-about {
    position: relative;
    z-index: 100;
    background: white;
    /* height: 50vh; */
    padding: 0 30px;
    padding-top: 110px;
}

#intro-about img {
    padding: 50px;
}

#intro-about .column-2 h2, #check-form h2, #likes h2 {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 800;
    color: #c9a939;
    text-align: center;
}

#check-form h2 {
    font-weight: 600;
    width: 100%;
    color: black;
    font-size: 26px;
}

#intro-about .column-2 p {
    margin-top: 20px;
}

.flex-columns .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
}

.flex-columns .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.flex-columns .column .column-1, .flex-columns .column .column-2 {
    height: 100%;
}

.flex-columns img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

.flex-columns .column-2 .isuk-items {
    margin-top: 3rem;
    display: grid;
    grid-row-gap: 50px;
    grid-column-gap: 65px;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.flex-columns .column-2 .isuk-items img {
    object-fit: initial !important;
    width: 65px !important;
    height: 65px !important;
    background: #bcd1aeb8;
    padding: 12px !important;
    border-radius: 50%;
}

.flex-columns .column-2 .isuk-items p {
    margin-top: 6px !important;
}

.reveal {
    /* position: relative; */
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

.reveal2 {
    /* position: relative; */
    transform: translateX(150px);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.reveal2.active {
    transform: translateX(0px);
    opacity: 1;
}

#team {
    padding: 65px 10px 40px;
}

#team h2, #about-detalis h2, #about-members h2, .hero3 h2, .h2-in-img, #our-services h2 {
    text-align: center;
    margin-bottom: 39px;
    color: #c9a939;
    font-size: 32px;
    font-weight: 800;
}

#about-detalis h2 {
    margin-bottom: 8px;
}

#about-members h2 {
    margin-top: 220px;
}

#likes h2 {
    margin-bottom: 45px;
}

.hero3 * {
    z-index: 1;
    margin: auto;
}

.hero3 h2 {
    margin-bottom: 0px;
    margin-top: 138px;
    text-align: right;
    width: 600px;
}

.hero3 p {
    color: white;
    text-align: justify;
    width: 600px;
    margin-top: 0px;
}

#team h3 {
    font-size: 23px;
    font-weight: 500;
    margin-top: 8px;
    color: #413e38;
    font-weight: 400;
}

.hero3 h3 {
    color: white;
    font-size: 22px;
    margin-bottom: 16px;
    margin-top: 11px;
    width: 600px;
    text-align: right;
}

.grid-conten {
    max-width: 1150px;
    padding: 0 60px;
    margin: auto;
    /* overflow: hidden; */
}

.members, .clients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 10px;
}

.members .member:nth-child(2) {
    transform: translateY(20px);
}

.members .member:nth-child(3) {
    transform: translateY(40px);
}

.grid-conten img, .flex-columns img {
    width: 100%;
}

#team .grid-conten img {
    width: 100%;
    border-radius: 5px;
}

.member {
    padding: 9px;
    text-align: center;
}

.member img:hover {
    cursor: pointer;
}

.callback-form {
    width: 100%;
    padding: 20px 0;
}

.callback-form .form-control {
    margin-bottom: 22px;
}

.callback-form label {
    display: block;
    margin-bottom: 5px;
}

.callback-form input {
    width: 100%;
    padding: 4px;
    height: 40px;
    border: #f5f5f5 1px solid;
}

.callback-form .btn, #call-btn {
    margin-top: 20px;
    font-family: 'Noto Sans Hebrew', sans-serif;
    cursor: pointer;
    display: inline-block;
    padding: 3px 10px;
    color: rgb(255, 255, 255);
    background-color: #c9a939;
    border: none;
    width: 184px;
    font-size: 15px;
    font-weight: 500;
}

#call-btn {
    /* position: absolute; */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 100;
    left: 0px;
    margin-top: 30px;
    padding: 14px 14px;
    font-size: 20px;
    width: 280px;
    text-align: center;
    border-radius: 4px;
    transition: 0.4s;
}

#call-btn:hover img {
    margin-top: -10px;
}


/* #call-btn:hover {
    width: 320px;
} */

#call-btn img {
    width: 23px;
    vertical-align: middle;
    margin-right: 10px;
    transition: 0.5s;
}

.callback-form input, .callback-form textarea {
    width: 100%;
    padding: 4px;
    height: 40px;
    border: #f5f5f5 1px solid;
    border-bottom: 2px solid #c9a939bf;
    font-size: 15px;
    font-weight: 500;
    color: #000;
}

.callback-form textarea {
    height: 110px;
}

#check-form.flex-columns {
    margin-top: 65px;
}

#check-form.flex-columns .column .column-2 {
    background-color: #bcd1aeb8;
}

#check-form.flex-columns .column .column-1, #check-form.flex-columns .column .column-2 {
    height: 440px;
}

::placeholder {
    font-family: 'Noto Sans Hebrew', sans-serif;
    color: #000;
}

#check-form h2 span {
    color: #c6a73b;
}

.clients img {
    width: 30px;
}

.person-div i {
    color: #f2eb0c;
    font-size: 18px;
}

#likes {
    background: #ecf2e8;
    padding: 60px 0px;
    margin-top: 65px;
}

.client {
    background-color: white;
    padding: 20px;
    border: 1px solid #c9a939;
    border-radius: 7px;
}

.client * {
    margin-bottom: 12px;
}

.client p {
    font-weight: 100;
    font-size: 20px;
    font-style: italic;
}

#likes .grid-conten {
    padding: 0px 0px;
}

.person-div p {
    font-size: 18px;
    font-style: initial;
    font-weight: 800;
}

#main-footer {
    background: #413e38;
    color: #fff;
}

#main-footer h3 {
    font-weight: 900;
    font-size: 19px;
    margin-bottom: 10px;
    text-decoration: underline;
}

ul {
    list-style: none;
}

#main-footer .list li {
    padding: 7px 0;
    border-bottom: rgb(184 161 87 / 62%) solid 1.4px;
    width: 80%;
}


#main-footer .list li:first-child {
    padding-top: 0px;
}

#spec-foot-div .list li {
    padding: 4px 0;
    border-bottom: rgb(184 161 87 / 62%) solid 1.4px;
}

#main-footer i {
    font-size: 18px;
    margin-left: 10px;
}


#main-footer .list li a {
    color: #fff;
}

.py-2 {
    padding: 3rem 0;
}

.container2 {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 3rem;
    overflow: hidden;
}

#main-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    align-items: start;
}

#main-footer img {
    width: 58px;
}

.two-logos {
    display: flex;
    align-items: flex-end;
}

.two-logos h2 {
    font-family: 'Courgette', cursive !important;
    display: inline-block !important;
    font-size: 24px !important;
    margin-right: 20px;
}

#foot-p {
    margin-top: 10px;
}

#main-footer hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

#credit {
    font-weight: 700;
}

#about-detalis {
    background-color: rgba(39, 35, 31, 0.932);
    width: 830px;
    /* height: 261px; */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: justify;
    padding: 40px 80px;
    border-radius: 4px;
    margin-top: 320px;
}

#about-detalis p {
    color: white;
    font-size: 19px;
}

#about-members, #home-b, #likes, #our-services {
    z-index: 100;
    position: relative;
}

.about-preson {
    width: 820px;
    margin: auto;
    text-align: justify;
    padding-bottom: 60px;
}

.about-preson h3 {
    margin-bottom: 8px;
}

#home-b {
    padding: 2rem 16px;
    text-align: center;
}

#home-b .stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

#home-b .stats div {
    padding: 40px 35px;
}

#home-b .stats div:nth-child(odd) {
    background-color: #dbe7d3;
}

#home-b .stats div:nth-child(even) {
    background-color: #dbc36f;
}

.advantage * {
    margin-bottom: 8px;
}

#web-head .hero3 {
    background: url(../photos/info-bg.jpg) no-repeat center top/cover;
    height: 770px;
    align-items: self-start;
}

.hero3::before {
    background: rgb(13 14 12 / 87%);
}

#links-infoimg {
    display: flex;
    justify-content: center;
    z-index: 100;
    position: relative;
    margin-top: 85px;
    margin-bottom: 40px;
}

.img-header {
    position: relative;
    /* overflow: hiddsen; */
    width: 640px;
    margin-left: 100px;
    border-bottom: 7px solid #c9a939;
    border-top: 7px solid #c9a939;
    /* border-radius: 18px 18px 0px 0px; */
}

.img-header img {
    width: 100%;
    height: 100%;
    /* border-radius: 18px 18px 0px 0px; */
}

.img-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.295);
    /* border-radius: 18px 18px 0px 0px; */
}

.img-links {
    position: relative;
}

.img-links ul {
    width: 350px;
    background: #6b7068;
    padding: 18px;
    line-height: 2.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.img-links ul li {
    width: 85%;
}

.img-links ul li a {
    color: white;
    font-size: 18px;
    display: inline-block;
    border-bottom: 1px solid #fffce866;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-links ul li:last-child a {
    border-bottom: none;
}

.img-links ul li a.current i {
    display: initial;
}

.img-links ul li a i {
    display: none;
}

.img-links ul li a:hover i {
    display: initial;
}

.h2-in-img {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
}

.span-under {
    text-decoration: underline;
}

.bild {
    font-weight: 900;
}

#links-infoimg+p {
    z-index: 100;
    position: relative;
    margin-bottom: 200px;
    width: 1090px;
    margin: auto;
    padding-left: 450px;
}

#phones-action {
    width: 355px;
    z-index: 100;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -250px;
    flex-direction: column;
    align-items: flex-start;
    line-height: 2.2;
    border: 1px solid #f0c73569;
    padding: 15px 28px;
    display: none;
    transform: translateY(100px);
    opacity: 0;
    animation: efect 0.8s forwards ease-in-out;
}

#phones-action i {
    font-size: 18px;
    margin-left: 10px;
    vertical-align: baseline;
}

#phones-action p {
    border-bottom: 1px solid #c9a939a8;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    padding-right: 15px;
}


#phones-action p:last-child {
    border-bottom: none;
}

.dotman {
    width: 7px;
    display: inline-block;
    height: 7px;
    border-radius: 50%;
    vertical-align: middle;
    background: black;
    margin-left: 5px;
}

.hero3 p a {
    color: #ac9b5f;
    text-decoration: underline;
    font-weight: 500;
}

#services-header3.hero {
    height: 420px;
    background: url(../photos/services-bg1.jpg) no-repeat center bottom / cover;
}

.container-grids {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.services-grids {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    direction: ltr;
    border-bottom: 5px solid #c9a939;
    border-right: 1px solid #c9a939;
    border-top: 1px solid #c9a939;
    border-left: 1px solid #c9a939;
} 

#our-services {
    margin-bottom: 100px;
}

#our-services img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#our-services p, #our-services h3 {
    direction: rtl;
}

#our-services h3 {
    margin-bottom: 12px;
}

.services-grids article:last-child {
    grid-row: 1 / span 2;
} 

.card {
    position: relative;
    border: 1px solid #c9a939;
    padding: 60px 16px;
    transition: 0.3s;
}

.card:last-child {
    border: initial;
    padding: initial;
}

#our-services h2 {
    margin-top: 30px;
}

.card:hover {
    /* padding: 40px 26px; */
    cursor: pointer;
    background-color: #e2eee5;
    scale: 0.9;
}

.card:last-child:hover {
    /* padding: 40px 26px; */
    cursor: pointer;
    background-color: #e2eee5;
    scale: initial;
}

.line {
    rotate: 90deg;
    width: 1px;
    height: 56px;
    background: #68879c;
    position: relative;
    margin-right: 28px;
    transition: 0.5s;
    position: absolute;
    right: 18px;
    bottom: 0px;
    padding-bottom: 27px;
    margin-bottom: -6px;
}

.arrow {
    border: solid #68879c;
    border-width: 0 2px 2px 0px;
    display: inline-block;
    padding: 3px;
    position: absolute;
    left: -3.3px;
    bottom: -1px;
    transform: rotate(45deg);
}














@keyframes efect {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}